/* ============================================================= */
/* 2. RESET DAN PENGATURAN AWAL                                  */
/* ============================================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset gaya bawaan tombol */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: var(--font-body);
  background-color: var(--primary-color);
  color: var(--text-color);
  line-height: 1.6;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}